<!DOCTYPE html>
<html>
<head>
	<title>book list</title>
</head>
<body>
	<a href="">{{session.admin_id}}</a> |
	<a href="{{url_for('admin.send_messages')}}">发送系统消息</a> |
	<a href="{{url_for('admin.list_feedbacks')}}">用户反馈</a>
	<center>

		<br/>
		<h3>
			<a href="{{url_for('admin.list_users')}}">user list</a> |
			book list |
			<a href="{{url_for('admin.list_wishes')}}">wish list</a>
		</h3>
		<br/>

		<h4>
			<a href="{{url_for('admin.list_books', type=1, sort=sort)}}">教材资料</a> |
			<a href="{{url_for('admin.list_books', type=2, sort=sort)}}">英语强化</a> |
			<a href="{{url_for('admin.list_books', type=3, sort=sort)}}">日语强化</a> |
			<a href="{{url_for('admin.list_books', type=4, sort=sort)}}">技术养成</a> |
			<a href="{{url_for('admin.list_books', type=5, sort=sort)}}">考研相关</a> |
			<a href="{{url_for('admin.list_books', type=6, sort=sort)}}">休闲阅读</a>
		</h4>

		<!-- sort -->
		<h5>
			sort:
			<a href="{{url_for('admin.list_books', type=type, sort='bookname')}}">bookname</a> |
			<a href="{{url_for('admin.list_books', type=type, sort='added_time')}}">added time</a> |
			<a href="{{url_for('admin.list_books', type=type, sort='clicks')}}">clicks</a>
		</h5>

		<!-- search book -->
		<form method="post" action="{{url_for('admin.search_book')}}">
			search books:
			keyword: <input name="keyword">&nbsp;
			type: <input name="type">&nbsp;
			<input name="page" value="1" type="hidden">
			<input name="pagesize" value="20" type="hidden">
			<input type="submit" value="ok">
		</form>

		<br/>

		{% if total_page != 0 %}
		<table border="1">
			<tr>
				<td>book name</td>
				<td>user name</td>
				<td>added time</td>
				<td>type</td>
				<td>clicks</td>
				<td>status</td>
			</tr>
			{% for book in books %}
				<tr>
					<td>{{book.bookname}}</td>
					<td>{{book.username}}</td>
					<td>{{book.added_time}}</td>
					<td>{{book.type}}</td>
					<td>{{book.clicks}}</td>
					<td>{{book.status}}</td>
					<td>
						<a href="{{url_for('admin.show_book_info', book_id = book.book_id)}}">set book's information</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<br/>

			{% if page != 1 %}&nbsp;
				<a href="{{url_for('admin.list_books', page=1)}}">FIRST</a>&nbsp;
				<a href="{{url_for('admin.list_books', page=page-1)}}">Pre.</a>
			{% endif %}
				&nbsp;{{page }} / {{total_page }}&nbsp;
			{% if page != total_page %}
				<a href="{{url_for('admin.list_books', page=page+1)}}">Next</a>&nbsp;
				<a href="{{url_for('admin.list_books', page=total_page)}}">TAIL</a>
			{% endif %}
		{% else %}
			<p>There is no books now!</p>
		{% endif %}
	</center>
</body>
</html>