<!DOCTYPE html>
<html>
<head>
	<title>search book</title>
</head>
<body>
	<a href="">{{session.admin_id}}</a>
	<center>

		<br/>
		<h3>
			<a href="{{url_for('admin.list_users')}}">user list</a> |
			<a href="{{url_for('admin.list_books')}}">book list</a> |
			<a href="{{url_for('admin.list_wishes')}}">wish list</a>
		</h3>
		<br/>

	<!-- search book -->
		<form method="post" action="{{url_for('admin.search_book')}}">
			search books:
			keyword: <input name="keyword" value="{{keyword}}">&nbsp;
			type: <input name="type" value="{{type}}">&nbsp;
			<input name="page" value="1" type="hidden">
			<input name="pagesize" value="20" type="hidden">
			<input type="submit" value="ok">
		</form>
		<br/>

		<h4>search results</h4>

		{% if total_page != 0 %}
		<table border="1">
			<tr>
				<td>book id</td>
				<td>book name</td>
				<td>added time</td>
				<td>type</td>
				<td>clicks</td>
			</tr>
			{% for book in books %}
				<tr>
					<td>{{book.book_id}}</td>
					<td>{{book.bookname}}</td>
					<td>{{book.added_time}}</td>
					<td>{{book.type}}</td>
					<td>{{book.clicks}}</td>
					<td>
						<a href="{{url_for('admin.show_book_info', book_id = book.book_id)}}">set book's information</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<br/>

			{% if page != 1 %}&nbsp;
				<a href="{{url_for('admin.list_books', page=1)}}">FIRST</a>&nbsp;
				<a href="{{url_for('admin.list_books', page=page-1)}}">Pre.</a>
			{% endif %}
				&nbsp;{{page }} / {{total_page }}&nbsp;
			{% if page != total_page %}
				<a href="{{url_for('admin.list_books', page=page+1)}}">Next</a>&nbsp;
				<a href="{{url_for('admin.list_books', page=total_page)}}">TAIL</a>
			{% endif %}
		{% else %}
			<p>no search result!</p>
		{% endif %}

	</center>
</body>
</html>