<!DOCTYPE html>
<html>
<head>
	<title>wish list</title>
</head>
<body>
	<a href="">{{session.admin_id}}</a> |
	<a href="{{url_for('admin.send_messages')}}">发送系统消息</a>
	<center>

		<br/>
		<h3>
			<a href="{{url_for('admin.list_users')}}">user list</a> |
			<a href="{{url_for('admin.list_books') }}">book list</a> |
			wish list
		</h3>
		<br/>

		{% if total_page != 0 %}
		<table border="1">
			<tr>
				<td>wish id</td>
				<td>book name</td>
				<td>added time</td>
				<td>type</td>
				<td>clicks</td>
				<td>status</td>
			</tr>
			{% for wish in wishes %}
				<tr>
					<td>{{wish.wish_id}}</td>
					<td>{{wish.bookname}}</td>
					<td>{{wish.added_time}}</td>
					<td>{{wish.type}}</td>
					<td>{{wish.clicks}}</td>
					<td>{{wish.status}}</td>
					<td>
						<a href="{{url_for('admin.show_wish_info', wish_id = wish.wish_id)}}">set wish's information</a>
					</td>
				</tr>
			{% endfor %}
		</table>

		<br/>

			{% if page != 1 %}&nbsp;
				<a href="{{url_for('admin.list_wishes', page=1)}}">FIRST</a>&nbsp;
				<a href="{{url_for('admin.list_wishes', page=page-1)}}">Pre.</a>
			{% endif %}
				&nbsp;{{page }} / {{total_page }}&nbsp;
			{% if page != total_page %}
				<a href="{{url_for('admin.list_wishes', page=page+1)}}">Next</a>&nbsp;
				<a href="{{url_for('admin.list_wishes', page=total_page)}}">TAIL</a>
			{% endif %}
		{% else %}
			<p>There is no wishes now!</p>
		{% endif %}

	</center>
</body>
</html>